.button {
    width: 358px;
    height: 50px;
    text-align: center;
    background-color: #000;
    border: none;
    border-radius: 2px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 18px auto 0;
  }
  
  .button:hover {
    opacity: .8;
    cursor: pointer;
  }
  
  @media screen and (max-width: 440px){
    .button {
      width: 200px;
      height: 40px;
      font-size: 14px;
      line-height: 17px;
    }
  }
  