@import url('./__add-btn/profile__add-btn.css');
@import url('./__overlay/profile__overlay.css');
@import url('./__avatar/profile__avatar.css');
@import url('./__edit/profile__edit.css');
@import url('./__ellipse/profile__ellipse.css');
@import url('./__info/profile__info.css');
@import url('./__job/profile__job.css');
@import url('./__name/profile__name.css');
@import url('./__picture/profile__picture.css');

.profile {
  width: 100%;
  max-width: 882px;
  height: 120px;
  margin: 40px auto 50px;
  display: flex;
  color: #fff;
  position: relative;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px){
  .profile {
    width: calc(100% - 36px);
    margin-left: 18px;
    margin-right: 18px;
  }
}

@media screen and (max-width: 786px) {
  .profile {
    flex-direction: column;
    width: auto;
    height: auto;
    align-items: center;
    text-align:center;
    margin-bottom: 36px;
  }
}
