.profile__picture {
  height: 120px;
  width: 120px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;

}

@media screen and (max-width: 440px){
  .profile__picture {
    margin-left: auto;
    margin-right: auto;
  }
}
