@import url('./__window/modal__window.css');
@import url('./__close/modal__close.css');
@import url('./__heading/modal__heading.css');
@import url('./__form/modal__form.css');
@import url('./__input/modal__input.css');
@import url('./__button/_disabled/modal__button_disabled.css');
@import url('./__label/modal__label.css');
@import url('./__error/modal__error.css');

.modal {
    display: flex;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    transition: visibility 1s, opacity .5s;
  }
