@import url('../vendor/normalize.css');
@import url('../vendor/fonts/fonts.css');

.page {
    font-family: 'Inter', 'Arial', sans-serif;
    background-color: #000;
    width: 882px;
    margin: 0 auto;
}

.header {
    height: 74px;
    margin-top: 45px;
    border-bottom: 1px solid #545454;
}

.header__logo {
    width: 173px;
    height: 33px;
}

.profile {
    height: 120px;
    margin: 40px auto 50px;
    display: flex;
    color: #fff;
    position: relative;
}

.profile__ellipse {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 26px;
}

.profile__picture {
    height: 100%;
    display: inline;
}

.profile__avatar {
  width: 120px;
  margin-right: 30px;
}

.profile__info {
  width: 428px;
  height: 77px;
  margin-top: 18px;
  position: relative;
}

.profile__name {
    width: 380px;
    height: 43px;
    font-size: 42px;
    line-height: 56px;
    font-weight: 500;
    margin: 0 0 16px 0;
}

.profile__edit {
    position: absolute;
    top: 19px;
    right: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    box-sizing: border-box;
    background-color: #000;
    background-image: url('../images/pen.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
}

.profile__edit:hover {
    cursor: pointer;
}

.profile__job {
    width: 318px;
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}

.profile__add-button {
    width: 150px;
    height: 50px;
    padding: 0;
    position: absolute;
    top: 35px;
    right: 0;
    background-color: #000;
    border: 2px solid #fff;
    background-image: url('../images/plus.svg');
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
}

.profile__add-button:hover {
    cursor: pointer;
}

.thumbs {
    display: grid;
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 361px);
    grid-row-gap: 21px;
    grid-column-gap: 18px;
    padding: 0;
}

.thumb {
    width: 282px;
    height: 361px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

.thumb__image {
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
    margin: 0;
}

.thumb__label {
    width: 246px;
    height: 23px;
    display: flex;
    justify-content: space-between;
    margin: 25px 15px 31px 21px;
}

.thumb__heading {
    margin: 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
}

.footer {
    margin-top: 66px;
    margin-bottom: 60px;
    color: #545454;
    font-size: 18px;
    line-height: 22px;
}

.link:hover {
  opacity: .6;
}

.modal {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  left: 0;
  top: 0;
  overflow: auto;
}

.modal__open {
  display: flex;
}

.modal__window {
  position: relative;
  width: 430px;
  height: 330px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 1px;
}

.close {
  position: absolute;
  top: -35px;
  right: -35px;
  height: 40px;
  rotate: 45deg;
}

.modal__heading {
  margin: 34px 64px 54px 36px;

}

.modal__form {
  margin-left: 36px;
  margin-bottom: 0;
}

.modal__input {
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto 30px;
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.modal__btn {
  width: 358px;
  height: 50px;
  text-align: center;
  background-color: #000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 18px auto 0;
}

.modal__btn:hover {
  opacity: .8;
}
