.card__heart {
  background-image: url('../../../images/heart.svg');
  width: 20px;
  min-height: 20px;
  background-color: transparent;
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  padding: 0;
}

.card__heart:hover {
  cursor: pointer;
  opacity: .6;
}
